<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Students' Details Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="/add">Add a Student</a></li>
        <li><a>Show All Students</a></li>
        <li><a href="/detail/{id}">Delete Student</a></li>
    </ul>
</div>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Contact Number</th>
        <th>Mailing Address</th>
        <td>Actions</td>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <br/>
        <td th:text="${student.lastName}"></td>
        <br/>
        <td th:text="${student.email}"></td>
        <br/>
        <td th:text="${student.phoneNum}"></td>
        <br/>
        <td th:text="${student.mailAddress}"></td>
        <br/>
        <td>Actions
            <a th:href="@{/update/{id} (id=${student.id})}">Update</a>
            <a th:href="@{/detail/{id} (id=${student.id})}">Details</a>
            <a th:href="@{/delete/{id} (id=${student.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>