<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show All Students</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <ul class="nav navber-nav navbar-left">
        <li><a href="detailform.html">Add a Student</a></li>
        <li><a>Show All Students</a></li>
        <li><a href="show.html">Delete a Student</a></li>
    </ul>
</div>
<a href="/">Show All Students</a><br/>
First Name:<span th:text="${student.firstName}"></span><br/>
Last Name:<span th:text="${student.lastName}"></span><br/>
Email Address:<span th:text="${student.email}"></span><br/>
Phone Number:<span th:text="${student.phoneNum}"></span><br/>
Mailing Address:<span th:text="${student.mailAddress}"></span><br/>
<a th:href="@{/delete/{id} (id=${student.id})}">Delete Student</a>
</body>
</html>